@charset "utf-8";
/* CSS Document */

* {
	margin: 0px;
	padding: 0px;
	border: 0px;
	font-size: 1em;
	font-weight: normal;
}

button {
    position: fixed;
    top: 70px;
    right: 50px;
    background-color: antiquewhite;
    padding: 20px;
    border-radius: 30px;
    font-family: 'Quicksand', sans-serif;
    font-size: 15px;
    font-weight: 700;
}

#banner {
    text-align: center;
    background-size: cover;
    background-image: url(../images/hero.jpg);
}
h1 {
	text-align: center;
	margin: 30px;
}

li {
	padding: 20px;
}

h2 {
	text-align: center;
}

.container p {
	text-align: center;
}


.extratext {
	margin: 50px;
}

header {
	background-color: #416c7c;
	height: 150px;
}

#logo {
	width: 400px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.footer {
	color: grey;
}