@charset "utf-8";
/* CSS Document */

* {
	margin: 0px;
	padding: 0px;
	border: 0px;
	font-size: 1em;
	font-weight: normal;
}

button {
    position: fixed;
    top: 70px;
    right: 50px;
    background-color: antiquewhite;
    padding: 20px;
    border-radius: 30px;
    font-family: 'Quicksand', sans-serif;
    font-size: 15px;
    font-weight: 700;
}

#banner {
    text-align: center;
    background-size: cover;
    background-image: url(../images/hero.jpg);
}
h1 {
	text-align: center;
	margin: 30px;
}



header {
	background-color: #416c7c;
	height: 150px;
}

#logo {
	width: 400px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.shore {
    font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, serif;
    text-align: center;
}

.h4 {
    background-color: rgba(229,237,241,0.54);	
}

#mission {
	background-color: rgba(229,237,241,0.54);	
}

#CTA {
    font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, serif;
    font-style: italic;
    font-weight: bolder;
    text-align: center;
    margin-left: 88px;
    background-color: rgba(239,245,245,0.84);
    background-repeat: repeat-x;
    color: rgba(250,143,148,1.00);
}

footer {
    background-color: rgba(65,108,124,1.00);
    font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
    font-size: larger;
    text-align: center;
}
