@charset "utf-8";
/* CSS Document */

* {
	margin: 0px;
	padding: 0px;
	border: 0px;
	font-size: 1em;
	font-weight: normal;
	
}



h1 {
	text-align: center;
	margin: 30px;
	padding: 30px;
	color: rgba(251,194,132,1.00);
}

img {
	width: 90%;
	align-content: center;
}

.carousel
{
	margin: auto;
	width: 50%;
}

.carouseltext {
	color: #416C7C;
}

.lighter {
	opacity: 0.8;
}

.jumbotron {
	margin: cover;
	margin-top: 50px;
	background-image: url("../images/gathering.jpg");
   	background-attachment: fixed;
	background-size: cover;
	color: #416C7C;
	text-align: center;
	font-size: 20px;
}

.visibility {
	border: 10px solid hsla(0,0%,100%,.5);
 	background: #fff;
	background-clip: padding-box;
}

.landingpage {
    background-image: url(../images/landingpage.png);
    background-size: cover;

    background-position: 0% 97%;
}


.heroimage {
    text-align: left;
    color: white;
    bottom: 30px;	
	font-size: 1.5rem;
}

.meetshore {
    text-align: left;
    color: rgba(251,194,132,1.00);
    font-size: 3rem;
    font-weight: bolder;
}

.content {
    background: white;
    padding: 30px 15px;
    color: #0f346c;
    box-sizing: border-box;
    width: 440px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.btn-warning {color: white;
font-weight: bold;}

.recipe {
    width: 80px;
}

.pig {
	width: 80px;
}

.scale {
	width:80px;
}

.vegetables {width: 80px;}



.section-titel {align-content: center;}

.home-page-section {
    background-image: url("../images/foodtray.png");
    background-size: cover;
	margin-top: 7%;
}


.contact {
	margin: 10%;
	text-align: center;
}
.section-titel {
    text-align: center;
    color: rgba(251,196,133,1.00);
	margin-bottom: 5%;
	font-size: 40px;
}

.pngs {
    width: 69px;
    margin-left: 6px;
	margin-right: 6px;
    margin-top: 10px;
	margin-bottom: 10px;
}

.png {
    width: 100px;
}

.howitworks {
	text-align: center;
	color: rgba(251,196,133,1.00);
	font-size: 40px;
	margin-bottom: 5%;
	margin-top: 5%;
	
}
.h2txt {
	text-align: center;
	color: black;
	font-size: 23px;
	margin-top: 5%;
	
}
header {
	background-color: #416c7c;
	height: auto;
}

.nav-link {
    color: rgba(251,196,133,1.00);
    margin-bottom: 0px;
	margin-top: 0px;
	margin-right: 2px;
	margin-left: 3px;
	padding: 0px;
}

.logo {
    width: 70px;
}

#logo {
    width: 58px;
    padding-top: 0px;
}


.shore {
    font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, serif;
    text-align: center;
}

.h4 {
    background-color: rgba(229,237,241,0.54);	
}

#mission {
	background-color: rgba(229,237,241,0.54);	
}


#CTA {
    text-align: center;
}

.footer {
    background-color: rgba(65,108,124,1.00);
    font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
    font-size: larger;
    text-align: center;
	margin-top: 10%;
}

.shre{
	padding-top: 1%;
}

.insta {
	width: 30px;
	margin-bottom: 2%;
}
